html {
    height: 100%;
    overflow: hidden;
}

body{
--eyeDiam: 55px;
--movableEyeRadius: calc((var(--contDiam) - var(--eyeDiam)) / 2 + 1px);
--movableContRadius: 10px;
--contDiam: 110px;
--absPos : 90px;
--height: 0px;
--width:0px;
--torchX: 50%;
--torchY: 50%;
color: #fff;
}
.folderview {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-width: calc(0.08 * var(--width));
    width: calc(0.08 * var(--width));

    margin: 10px;
    margin-top: 0;
}
.content
{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
}
.black
{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    mask-image: radial-gradient(circle at left var(--torchX) top var(--torchY), transparent, black 100px, black 100%);
    z-index: 4;
}
.eye-cont
{
    --angle:0;
    top: calc(50% - var(--contDiam) / 2 + var(--movableContRadius) * sin(var(--angle) * 1rad));
    left: calc(50% - var(--contDiam) / 2 + var(--pos) + var(--movableContRadius) * cos(var(--angle) * 1rad));
    width: var(--contDiam);
    height: var(--contDiam);
    position: absolute;
    background-color: white;
    border-radius: 50%;
}
.cursor-follower
{
    --angle:0;
    position: absolute;
    top: calc((var(--contDiam) - var(--eyeDiam)) / 2 + var(--movableEyeRadius) * sin(var(--angle) * 1rad));
    left: calc((var(--contDiam) - var(--eyeDiam)) / 2 + var(--movableEyeRadius) * cos(var(--angle) * 1rad));
    border-radius: 50%;
    width: var(--eyeDiam);
    height: var(--eyeDiam);
    background-color: black;
    transition: top 0.1s, left, 0.1s
}
.leftEye{
    --pos: calc(-1 * var(--absPos));
}
.rightEye{
    --pos: var(--absPos);
}
body :not(.window-cont, .nav) {
    z-index: 0;
}

#apps
{
    display: flex;
    border-left: 0px solid white;
}
.hidden
{
    transition: all 0.2s;
}
.nav {
    z-index: 3;
}

.window-cont {
    display: grid;
    position: absolute;
    top: 20%;
    left: 30%;
    grid-template-columns: 10px auto 10px;
    grid-template-rows: 10px auto 10px;
    z-index: 1;
}

.focused {
    z-index: 2;
}

.focusIcon {
    background-color: rgba(255, 255, 255, 0.2);
}

body {
    width: 100%;
    height: 100%;
    /* background-color: #cb9d06; */
    background-color: #ca702c;
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
    user-select: none;
    font-family: "Pixelify Sans", sans-serif;
}

.app {
    position: sticky;
    display: flex;
    flex-direction: column;
    width: 6%;
    height: fit-content;
    margin: 10px;
    margin-top: 0;
}

.icon {
    display: flex;
    height: fit-content;
    width: 80%;
    margin: auto;

    box-sizing: border-box;
    margin-bottom: 0px;
    border-radius: 3px;
}

.window {
    box-shadow: -4px -4px grey;
    display: flex;
    flex-direction: column;
    min-width: calc((0.08 * var(--width) + 20px) * 2);

    min-height: 200px;
    width: auto;
    height: auto;
    /* background-color: rgb(0, 124, 161); */
    background-color: rgb(189, 240, 255);
    overflow: hidden;
}

.title_bar {
    min-width: 100%;
    min-height: calc(var(--height) * 0.02);
    background-color: #1b41d691;
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}

.title {
    border-radius: 50%;
    width: calc(var(--height) * 0.02);
    height: 100%;
    display: flex;
}

.close {

    background-color: red;
}

.title_bar .max {
    background-color: mediumspringgreen;
}

.hide {
    background-color: skyblue;
}

.name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 2vh;
    line-height: 1.2em;
    width: fit-content;
    margin: auto;
    padding: 2px 1px;
    text-align: center;
    overflow-wrap: anywhere;
}

.icon img {
    width: 100%;
    height: auto;
}

.app:hover .icon,
.app:hover .name {
    background-color: rgba(255, 255, 255, 0.3);
}


.select .name,
.select .icon,
.select:hover .name,
.select:hover .icon {
    background-color: rgba(255, 255, 255, 0.5);
}

.nav {
    background-color: transparent;
    box-sizing: border-box;
    width: 100%;
    height: 7%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0%;
    margin: 0;
}

.cont {
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    width: fit-content;
    height: 100%;
    justify-content: center;

}

.nav .icon {
    position: relative;
    bottom: 0%;
    width: auto;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    transition: bottom .2s ease, height .2s ease;
    border-radius: 20%;
}

.nav .icon img {
    height: 100%;
    margin: 0px;
    width: auto;
}


.nav .icon:hover {
    background-color: rgba(255, 255, 255, 0.3);
    bottom: 40%;
    height: 120%;
}

.nav .icon:hover+.icon,
.nav .icon:has(+.icon:hover),
.nav .icon:hover+#apps .icon:first-of-type,
.nav .icon:has(+#apps .icon:hover:first-of-type) {
    bottom: 30%;
    height: 110%;
}

@media screen and (max-width: 480px) and (orientation:portrait) {
    .name {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
    }

    .app {
        display: inline-block;
        width: 20%;
    }

    .nav {
        bottom: 1%;
        width: 100%;
        height: 11%;
    }

    .app:hover .icon,
    .app:hover .name,
    .select .name,
    .select .icon,
    .select:hover .name,
    .select:hover .icon {
        background-color: rgba(255, 255, 255, 0);
    }

    .nav .icon:hover,
    .nav .icon:hover+.icon,
    .nav .icon:has(+.icon:hover),
    .nav .icon:hover+#apps .icon:first-of-type,
    .nav .icon:has(+#apps .icon:hover:first-of-type) {
        background-color: rgba(255, 255, 255, 0);
        bottom: 0%;
        height: 100%;
    }

    .cont {
        display: flex;
        background-color: transparent;
        border: 1px solid transparent;
        border-image: url('../assets/border.png') 1 stretch;
        width: 100%;
    }

    .nav .icon {
        margin: auto;
        width: auto;
        height: 100%;
    }
}